<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Blog")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Blog")}</%block>
        </h1>

        <div class="blog-content">
            <div class="blog-post">
                <h2 class="blog-year">2025</h2>
                <h3 class="blog-title">Основание компании ProfiUp</h3>
                <p class="blog-text">
                    На рынке образования появился новый игрок ProfiUp. Уникальность решения основано на гибких и доступных подходах за справедливую цену.
                    Ядро системы разработано на базе open edX, что в свою очередь позволяет максимально клиентоориентировано настроить под заказчика.
                </p>
            </div>

            <div class="blog-post">
                <h2 class="blog-year">2026</h2>
                <h3 class="blog-title">Коммерческая доступность</h3>
                <p class="blog-text">
                    ProfiUp доступен к приобретению как в b2b, так и b2c сегментов.
                </p>
            </div>
        </div>
    </section>
</main>
